<div class="main-header" ng-include="'views/main.header.html'"></div>
<div class="main-sidebar" ng-include="'views/main.main-sidebar.html'"></div>

<!-- <main-sidebar class="main-sidebar"></main-sidebar> -->
<div class="content-wrapper">
	<ui-view></ui-view>
</div>
<footer class="main-footer">
	<!-- To the right -->
	<div class="pull-right hidden-xs">
		Anything you want
	</div>
	<!-- Default to the left -->
	<strong>Copyright &copy; 2017 <a href="#">Company</a>.</strong> All rights reserved.
</footer>
<!-- <control-sidebar class="control-sidebar control-sidebar-dark"></control-sidebar> -->
<div class="control-sidebar" ng-include="'views/main.control-sidebar.html'"></div>
<div class="control-sidebar-bg"></div>
